{:paths ["src" "resources"]
 :deps  {}
 :tasks {build-static {:doc "Builds static HTML"
                       :requires ([chazer.serve :as ch])
                       :task (spit "resources/public/index.html"
                               ch/home-html)}}}
