{:paths ["src" "resources"]
 :deps  {mount/mount {:mvn/version "0.1.16"}}
 :tasks {build-static {:doc "Builds static HTML"
                       :requires ([chazer.serve :as ch])
                       :task (spit "resources/index.html"
                               ch/home-html)}}}
